!!! 5
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
		//if lt IE 8
			script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		
		script(src='/ws-rpc-client.min.js')
		script(src='/ws-flash.min.js')
		
		//script(src='/ws-rpc-client.js')
		//script(src='/ws-flash.js')
		
		script(src='/testws-client.js')
	body
		pre#msg Loading...